<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CloverySourceCommit</key>
	<string>$(CLOVERY_SOURCE_COMMIT)</string>
	<key>UIAppFonts</key>
	<array>
		<string>fonts/Gaegu-Regular.ttf</string>
		<string>fonts/Gaegu-Light.ttf</string>
		<string>fonts/Gaegu-Bold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
